
footer{
    background-color: #343a40;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.img-yo{
  margin-top: 25px;
}
.sobremi{
  margin-top: 20px;
  text-align: justify;
}
